:root{
    //cores primarias
    --vermelhSuave: hsl(7, 99%, 70%);
    --amarelo: hsl(51, 100%, 49%);
    --cianoEscuroNSaturado: hsl(167, 40%, 24%);//(graphic design text)
    --azulEscuro: hsl(198, 62%, 26%);// (photography text)
    --cianoEscuroModerado: hsl(168, 34%, 41%);//footer

    //Neutras
    --azulEscuroMuitoDesaturado: hsl(212, 27%, 19%);
    --azulEscuroMuitoAcinzentado: hsl(213, 9%, 39%);
    --azulEscuroAcinzentado: hsl(232, 10%, 55%);
    --azulAcinzentado: hsl(210, 4%, 67%);
    --branco: hsl(0, 0%, 100%);
}