//navbar
.active{
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 60px !important;
    right: 0;
    margin: auto;
    max-width: 400px;
    width: 100%;
    height: fit-content;
    opacity: 1 !important;
    pointer-events: all !important;
    transition: cubic-bezier(0.68,-0.26, 0.38, 1.32) 0.5s;
}
.navScrolled{
    transition: ease-in-out 0.5s;
    background-color: #3ebfff;
}
//body
.Texto, .imgTexto{
    color: var( --azulEscuro);
    text-align: center;
    padding: 30px 25px;
}
.Texto{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
//section 2
.tituloC{
    color: var(--azulEscuroMuitoDesaturado);
    font-size: xx-large;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin: 5px 0px;
}
.corpo{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    margin: 5px 0px;
}
.botaoCorpo{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline ;
    color: var(--azulEscuroMuitoDesaturado);
}
.botaoAma{
    text-decoration: underline yellow 5px;
}
.botaoRos{
    text-decoration: underline pink 5px;
}

.imgTexto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .imgTextoPara{
        text-align: center;
        max-width: 25rem;
        padding: 0rem 0rem 0.625rem 0rem;
    }    
}

