.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1.25rem 0.9375rem;
    transition: ease-in-out 0.5s;
    .logo{
        position: relative;
        width: 9.25rem;
    }
    .hamburguer{
        width: 2.25rem;
        height: 1.9375rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .linha{
            width: 100%;
            height: 0.0625rem;
            background-color: white;
        }
    }
    .navbar-linksMobile{
    opacity: 0;
    display: flex;
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 3.125rem;
    pointer-events: none;
    right: 0;
    margin: auto;
    max-width: 25rem;
    width: 100%;
    height: fit-content;
    transition: cubic-bezier(0.68,-0.26, 0.38, 1.32) 0.5s;
        &::before{
            content: "";
            position: absolute;
            top: -0.25rem;
            right: 0.9375rem;
            width: 0;
            height: 0;
            border-bottom: 1.25rem solid white;
            border-left: 1.25rem solid transparent;
          }
        
        ul{
            width: 100%;
            box-shadow: grey 2px 2px 5px;
            margin: 0.9375rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: white;
            padding: 1.875rem;

            .links{
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                text-decoration: none;
                color: var(--azulEscuroAcinzentado);
            }
            li{
                height: 2.1875rem;

            }
            .botao{
                font-family: 'Fraunces', serif;
                font-weight: 400;
                color: black;
                padding: 0.9375rem 1.875rem;
                border-radius: 1.5625rem;
                background: yellow;
                margin-top: 0.625rem;
            }
        }
    }
}

@media (min-width: 40.625rem){
    .navbar{
        .hamburguer{
            display: none;
        }
        .navbar-linksMobile{
            display: none;
            }
    }
    .desktop{
        display: inline-block;
    }
}